.navbar{
    margin: 0;
    background-color: #004c6d;
}
.navbar .navbar-brand{
    color: white;
    font-size: 25px;
    font-weight: 600;
}
.navbar .navbar-nav a{
    color: white;
    font-weight: 400;
}