<div class="footer">
<div class="row text-center">
    <div class="col-lg-12">
        <h4>Follow us on social media</h4>
    </div>
    <div class="col-lg-12 ">
        <div class="d-flex justify-content-center ">
            <a href=""><i style="font-size:24px" class="fa mr-5">&#xf09b;</i></a>
            <a href=""><i style="font-size:24px" class="fa mr-5">&#xf09a;</i></a>
            <a href=""><i style="font-size:24px" class="fa mr-5">&#xf099;</i></a>
            <a href=""><i style="font-size:24px" class="fa mr-5">&#xf1b4;</i></a>
            <a href=""><i style="font-size:24px" class="fa mr-5">&#xf16d;</i></a>
            <a href=""><i style="font-size:24px" class="fa ">&#xf167;</i></a>
        </div>
        

    </div>
    <div class="col-lg-12">
        <p>&copy 2024 Unfold. All rights reserved.
        </p>
    </div>
</div>
</div>