<div class="row list-country">
    <div class="col">
        <table class="table table-hover">
            <thead>
              <tr>
                <th>Country Name</th>
                <th>Phone Code</th>
                <th>Sort Name</th>
              </tr>
            </thead>
            <tbody>
            @for( country of getDisplayedCountries();track country.id){
              <tr>
                <td>{{country.name}}</td>
                <td>{{country.phoneCode}}</td>
                <td>{{country.sortname}}</td>
              </tr>
            }
            </tbody>
          </table>
          <mat-paginator [length]="countries.length"
                  [pageSize]="pageSize"
                  (page)="onPageChange($event)"
                  aria-label="Select page">
          </mat-paginator>
    </div>
</div>