<div class="row add-university">
    <div class="col">
        <form class="row g-3">
            <div class="col-md-12">
                <label for="inputName" class="form-label">University Name</label>
                <input type="text" class="form-control" id="inputName" placeholder="Oxford University">
            </div>
            <div class="col-md-12">
                <label for="inputPhone" class="form-label">Country</label>
                <input type="text" class="form-control" id="inputPhone" placeholder="United States">
            </div>
            <div class="col-12">
                <label for="inputShortName" class="form-label">Description</label>
                <input type="text" class="form-control " id="inputShortName" placeholder="World no:1 University">
            </div>
            <div class="col-12 btn-block">
                <button type="submit" class="btn">Submit</button>
            </div>
        </form>    
    </div>
</div>