<div class="row add-country">
    <div class="col">
        <form class="row g-3">
            <div class="col-md-12">
                <label for="inputName" class="form-label">Country Name</label>
                <input type="text" class="form-control" id="inputName" placeholder="John Thomas">
            </div>
            <div class="col-md-12">
                <label for="inputPhone" class="form-label">Phone Code</label>
                <input type="text" class="form-control" id="inputPhone" placeholder="John@email.com">
            </div>
            <div class="col-12">
                <label for="inputShortName" class="form-label">Short Name</label>
                <input type="text" class="form-control " id="inputShortName" placeholder="Convey Your Message">
            </div>
            <div class="col-12 btn-block">
                <button type="submit" class="btn">Submit</button>
            </div>
        </form>    
    </div>
</div>