<div class="row list-country">
    <div class="col">
        <table class="table table-hover">
            <thead>
              <tr>
                <th>University Name</th>
                <th>Country</th>
                <th>Sort Name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>name 2</td>
                <td>country 2</td>
                <td>sortname 2</td>
              </tr>
              <tr>
                <td>name 2</td>
                <td>country 2</td>
                <td>sortname 2</td>
              </tr>
              <tr>
                <td>name1</td>
                <td>country1</td>
                <td>Description 1</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>