<div class="row list-country">
    <div class="col">
        <table class="table table-hover">
            <thead>
              <tr>
                <th>University Name</th>
                <th>Country</th>
                <th>Sort Name</th>
              </tr>
            </thead>
            <tbody>
            <!-- @for (university of universityArray; track user.id) {
              <tr>
                <td>{{university.name}}</td>
                <td>{{university.country}}</td>
                <td>{{university.alpha_two_code}}</td>
              </tr>
            } -->
            </tbody>
          </table>
    </div>
</div>