<div class="row list-country">
    <div class="col">
        <table class="table table-hover">
            <thead>
              <tr>
                <th>University Name</th>
                <th>Country</th>
                <th>Sort Name</th>
              </tr>
            </thead>
            <tbody>
                @for (item of universities;track item.id) {
                    <tr>
                      <td>{{item.name}}</td>
                      <td>{{item.country}}</td>
                      <td>{{item.alpha_two_code}}</td>
                    </tr>
                  }
              
            </tbody>
          </table>
    </div>
</div>